input,label{
    margin-left: 10px;
    
}
input{
    width: 90%;
    height:25px;
    background-color: #BABD42;
}
// .buy{
//     margin-top:50px;
//     margin-left:400px
    
// }
.buy{
    width: 400px;
    height: 320px;
    border: 2px solid black;
    margin-top:50px;
    margin-left:400px
}