.button{
    margin: 300px;
    text-align: center;
    
}
.outer-button{
    background: #EC994B;
    margin: 30px;
    padding: 10px;


}
*{
    background-color:#BDE6F1;
    padding: 10px;
}

a{
    margin-left: 500px;
    background-color: aliceblue;
    color: #000;
}