<div class="buy">
<form #date="ngForm">
    <label for="">Select the deadline date</label>
    <div class="name">
        <label>Name</label>
        <input type="text" #username="ngModel" class="form-control" [class.is-invalid]="username.invalid && username.touched" name="username" [(ngModel)]="name" required> 
        <small class="text-danger" [class.d-none]="username.valid || username.untouched">Name is required</small>
    </div>
    <div class="date">
        <label>Date</label>
        <!-- <input type="date" min="{{minDate}}" required> -->
         <input   type="date" #date="ngModel" min="{{minDate}}" class="form-control" [class.is-invalid]="date.invalid && date.touched" name="date" [(ngModel)]="date1" required>
        <small  class="text-danger" [class.d-none]="date.valid || date.untouched">Date is required</small> 
        <small class="text-danger" *ngIf="dateValidate()">Invalid date</small>   
    </div>
    <div class="bookName">
        <label>Book Name</label>
        <input type="text" #bookname="ngModel" class="form-control" [class.is-invalid]="bookname.invalid && bookname.touched" name="bookname" [(ngModel)]="booknameValue" required> 
        <small class="text-danger" [class.d-none]="bookname.valid || bookname.untouched">Name is required</small>
    </div>
    <div class="bookCategory">
        <label>Book Category</label>
        <input type="text" #bookCategory="ngModel" class="form-control" [class.is-invalid]="bookCategory.invalid && bookCategory.touched" name="bookCategory" [(ngModel)]="bookCategoryValue" required> 
        <small class="text-danger" [class.d-none]="bookCategory.valid || bookCategory.untouched">Name is required</small>
    </div>
    <div class="bookAuthor">
        <label>Author</label>
        <input type="text" #bookAuthor="ngModel" class="form-control" [class.is-invalid]="bookAuthor.invalid && bookAuthor.touched" name="bookAuthor" [(ngModel)]="bookAuthorValue" required> 
        <small class="text-danger" [class.d-none]="bookAuthor.valid || bookAuthor.untouched">Name is required</small>
    </div>
    <button [disabled]="date.form.invalid"  (click)="submit()" class="btn btn-primary">Submit</button>&nbsp;

     </form>
</div>